<div class="hero">
    {%- if article.image -%}
        {%- assign blog_image = article.image -%}
    {%- elsif page.metafields.accentuate.blog_image_file_name -%}
        {%- assign blog_image = page.metafields.accentuate.blog_image_file_name -%}
    {%- elsif blog_image_fallback -%}
        {%- assign blog_image = blog_image_fallback -%}
    {%- else -%}
        {%- assign blog_image = 'Annuals_2020_BloomBox_Greenhouse_118.jpg' -%}
    {%- endif -%}

    {%- capture blog_img_url -%}{{ blog_image | img_url }}{%- endcapture -%}
    {%- capture hero_file_img_url -%}{{ blog_image | file_img_url }}{%- endcapture -%}

    {%- if blog_img_url contains 'no-image' -%}
    <img
        class="hero__image--img-tag"
        srcset="
            {{ blog_image | file_img_url: '400x', format: 'pjpg' }} 400w,
            {{ blog_image | file_img_url: '540x', format: 'pjpg' }} 540w,
            {{ blog_image | file_img_url: '768x', format: 'pjpg' }} 768w,
            {{ blog_image | file_img_url: '960x', format: 'pjpg' }} 960w,
            {{ blog_image | file_img_url: '1200x', format: 'pjpg' }} 1200w,
            {{ blog_image | file_img_url: '1600x', format: 'pjpg' }} 1600w"
        sizes="100vw"
        alt="{{ blog_image.alt }}"
        data-image>
    {%- else -%}
    <img
        class="hero__image--img-tag"
        srcset="
            {{ blog_image | img_url: '400x', format: 'pjpg' }} 400w,
            {{ blog_image | img_url: '540x', format: 'pjpg' }} 540w,
            {{ blog_image | img_url: '768x', format: 'pjpg' }} 768w,
            {{ blog_image | img_url: '960x', format: 'pjpg' }} 960w,
            {{ blog_image | img_url: '1200x', format: 'pjpg' }} 1200w,
            {{ blog_image | img_url: '1600x', format: 'pjpg' }} 1600w"
        sizes="100vw"
        alt="{{ blog_image.alt }}"
        data-image>
    {%- endif -%}
</div>
